<style>
/* .row {
-moz-column-width: 19em !important;
-webkit-column-width: 19em !important;

-moz-column-gap: 1em !important;
-webkit-column-gap: 1em !important;
}

.item {
display: inline-block;
width: 100%;
} */
</style>
<div ng-if="flag" ng-repeat="data in artistResponse">
	<h3 align="center">{{data.teamName}}</h3>
	<table class="table table-striped">
	<tr ng-if="data.name">
		<td><b>Name</b></td>
		<td>{{data.name}}</td>
	</tr>
	<tr ng-if="data.followers">
		<td><b>Followers</b></td>
		<td>{{data.followers}}</td>
	</tr>
	<tr ng-if="data.popularity">
		<td><b>Popularity</b></td>
		<td>
			<div class="progress-wrapper">
			<div class="progress_label" style="top: 50%; bottom: auto; left: 50%; transform: translateY(-50%) translateX(-50%); font-size: 20px;">{{data.popularity}}</div>
			<div class="round-progress-wrapper"
				round-progress
				max="100"
				current="data.popularity"
				color="#8cb356"
				bgcolor="#eaeaea"
				radius="50"
				stroke="10"
				semi="false"
				rounded="false"
				clockwise="true"
				responsive="true"
				duration="800"
				animation="easeInOutQuart"
				animation-delay="800">
			</div>
			</div>
		</td>
		<!-- <td>{{data.popularity}}</td> -->
	</tr>
	<tr ng-if="data.checkAt">
		<td><b>Check At</b></td>
		<td>{{data.checkAt}}</td>
	</tr>
	</table>
	<div class="card-columns">
		<div class="card" style="overflow:hidden" ng-repeat="img in data.images">
			<img style="outline-style: solid; outline-color: #e3e0e0; padding: 2px; width: 100%;" ng-src="{{img}}"></img>
		</div>
	</div>
</div>
<div ng-if="team" ng-repeat="data in artistResponse">
	<h3 align="center">{{data.teamName}}</h3>
	<div class="card-columns">
		<div class="card" style="overflow:hidden" ng-repeat="img in data.images">
			<img style="outline-style: solid; outline-color: #e3e0e0; padding: 2px; width: 100%;" ng-src="{{img}}"></img>
		</div>
	</div>
</div>
